/* File index.css for Header */ 
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


.header {
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
 
    max-width: 1200px; /* Define uma largura máxima para o cabeçalho */
    
  }

  .logo {
    margin-left: 2% ;
    display: flex; /* Para alinhar a imagem verticalmente */
    align-items: center; /* Alinhamento vertical */
}
  
  .logo img {
    max-width: 100px; /* ajuste conforme necessário */

  }

  .menu {
    margin-right: 2%;
  }
  
  .menu ul {
    display: flex;
    list-style: none;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
  }

  .menu-icon {
    display: none; /* Esconde o ícone do menu por padrão */
  }
  
  
  .menu li {
    margin-right: 20px; /* ajuste conforme necessário */
  }
  
  .menu li:last-child {
    margin-right: 0;
  }
  
  .menu a {
    text-decoration: none;
    color: #ffffff; 
    border: 1px solid transparent;
    padding: 8px 12px;
    border-radius: 5px;
  }
  
  .entrar-btn {
    border: 1px solid rgb(255, 255, 255); /* ajuste conforme necessário */
    background-color: transparent;
    color: #ffffff; 
    padding: 8px 12px;
    font-family: 'Montserrat', sans-serif;
    border-radius: 10px;
    width: 150%;
  }

  .profile-icon {
    display: none; /* Esconde o ícone de perfil por padrão */
  }
  

  @media screen and (max-width: 768px) {

    .header {
        flex-wrap: wrap;
    }


    .logo {
            position: top;
    }
    
    .menu, .profile-icon {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  
    .menu {
      position: absolute;
      top: 20px;
      left: 20px;
      flex-direction: column;
 
      padding: 10px;
      border-radius: 5px;
      box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    }
  
    .menu-icon {
      display: block;
      cursor: pointer;
    }
  
    .menu ul {
      display: none;
    }
  
    #menu-toggle:checked + .menu ul {
      display: flex;
      flex-direction: column;
    }
  
    .profile-icon {
      display: block;
      position: absolute;
      top: 20px;
      right: 20px;
    }
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fundo preto transparente */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Certifique-se de que o overlay esteja acima de outros elementos */
  }
  
  .modal {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Sombra para o modal */
    z-index: 1001; /* Certifique-se de que o modal esteja acima do overlay */
  }
  